[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"

[packages]
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask = "*"
ipython = "*"
nbconvert = "*"
pandas = "*"
matplotlib = "*"
jupyterlab = "*"
ipykernal = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
